<!DOCTYPE html>
<html>
	<body>
		<script src = "http://code.jquery.com/jquery-2.1.3.min.js">
		</script>
		<div id="URL_FORM">
			<form action="/results">
				<input type="url" name="url"> Enter URL

				<input type="submit" id="URL_SUBMIT">

			</form>
		<div id="DISPLAY_RESULTS">
			<p>This is where results will be displayed</p>
		</div>

		<script>
// 		$("#URL_SUBMIT").on("click", function (event) {
// 				event.preventDefault();
// 				var form_data = $("#URL_FORM").serialize();
// 				console.log(form_data);
// 				var url = "/results?" + form_data;
// 				$.get(url, function (data) {
// 					var links = JSON.parse(data);
// 					console.log(links)
// 					var html_new = "<br>";
// 					for (var i=0; i<links.length; i++){
// 						html_new = html_new + "<a href=" + links[i] + ">" + links[i] + "</a><br>"};
// 					$("#DISPLAY_RESULTS").html(html_new);
// 				};
// 			});

// 		$(document).ready(function() {
//   $(window).keydown(function(event){
//     if(event.keyCode == 13) {
//       event.preventDefault();
//       return false;
//     };
//   });
// });
		</script>

	</body>
</html>
